/* pagination */
@media print, screen {
    .pmb-main-matter {
        display: block;
        page: main;
        counter-reset: page 1
    }

    #pmb-title-page-wrapper h1:first-of-type{
        display:none;
    }

    #pmb-title-page-wrapper p {
        margin-top: 150px;
        text-align: center;
    }

    @page {
        margin-top: 2cm;
        background: none !important;
    }

    @page main {
        margin-top: 3cm;
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
        @top {
            content: element(banner);
        }
        @bottom {
            content: element(addresses); font-size: 10px;
        }
        @bottom-right {
            content: counter(page)
        }
    }
    
    body {
        prince-footnote-policy: keep-with-line;
    }

    /* General styles*/
    body {
        font-family: 'Proza Libre';
    }
    
    p, span, div {
        font-size: 16px;
        font-family: 'Proza Libre';
        line-height: 1.3;
    }

    table,
    table p,
    table div,
    table tr,
    table td {
        font-size: 14px !important;
        font-family: 'Proza Libre' !important;
        margin: 0;
        padding: 0;
    }
    table td {
        padding: 2px;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Ovo';
        text-align: left;
        page-break-after:avoid;
        page-break-inside:avoid;
    }

    /* header and footer */
    .bannerlogo img {
        max-width: 200px;
        margin-top: 20px;
    }
    .footer div {
        font-size: 10px !important;
        font-style: italic;
    }

    /* toc, if it were used */
    #pmb-toc-wrapper {
        break-before:page;
    }
    #pmb-toc-list {
        padding: 0;
    }
    .pmb-toc-list li{
        list-style:none;
        font-size: 14px;
        font-weight:bold;
    }
    .pmb-toc-item.pmb-toc-depth-3 {
        margin-left:3em;
    }
    .pmb-toc-item.pmb-toc-depth-2 {
        margin-left:2em;
    }
    .pmb-toc-item.pmb-toc-depth-1 {
        margin-left:1em;
    }
    #pmb-toc-list a {
        text-decoration: none;
        color: #000;
    }
    .pmb-toc-list .pmb-toc-item.pmb-toc-front a::after {
        content: leader('.') target-counter(attr(href), page, lower-roman) !important;
    }
    .pmb-toc-list .pmb-toc-item:not(.pmb-toc-front) a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }
    
    /* Anthologies */
    .pmb-anthology-wrapper {
        break-before:page;
    }
    .pmb-anthology h1.pmb-title {
        font-size:5em;
    }

    /* volumes */
    .pmb-volume-wrapper {
        break-before:page;
    }
    .pmb-volume-wrapper > article > header > div > h1 {
        font-size: 36px;
    }
    
    /* parts */
    .pmb-part-wrapper {
        break-before:page;
    }
    .pmb-part-wrapper > article > header > div > h1 {
        font-size: 28px;
    }
    
    /*articles*/
    .pmb-article-wrapper {
        break-before:page;
    }
    .pmb-article-wrapper > article > header > div > h1 {
        font-size: 22px;
    }

    /* miscellaneous */
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;
        margin-left:0;
        font-weight:normal;
    }
  
    /* courses */
    .category-courses header,
    .cde {
        display:none;
    }

    .course-field {
        display: block;
    }

    .course-hours span:before {
        content:"; ";
    }
  
    .course-hours span:first-of-type:before {
        content:"";
    }
    
    .course-field+p {
        margin-top: 0;
    }
}
